#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=Hardware Notifications
Comment=Displays notification about newly plugged hardware
Icon=gnome-dev-memory
Exec=/usr/bin/udev-notify
Terminal=false
Type=Application
Categories=
OnlyShowIn=GNOME;XFCE;KDE;Unity;
AutostartCondition=GNOME3 unless-session gnome
X-Ubuntu-Gettext-Domain=udev-notify
